.detail{
    font-size: 2.5rem;
    
}

.searchHeader {
    min-width: 1024px;
}

.searchContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    height: fit-content;
}